* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 5px;
  height: 300px; /* Should be removed. Only for demonstration */
}
img {
  width: 30%;
  margin: 5%;
}

h2 {
  font-weight: bolder;
  color: black;
  font-size: 90%;
}
.column1 {
  float: left;
  width: 70%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.amounts {
  color: #118c4f;
  font-weight: bolder;
  font-size: 90%;
}

.total {
  border: 2px solid;
  padding: 5px;
}

.values {
  border: 2px solid;
  padding: 5px;
  
}
table {
border-radius: 3px solid;

}
.bts {
  font-weight: bolder;
  background-color: #118c4f;
  font-weight: bolder;
    position: absolute;
    margin: 5%;
    margin-left:25% ;
    margin-top: 5%;
}
